/* 10-years link */
.party{
    /*all: initial;*/
    border-bottom: none;
	position: fixed;
	bottom: 50px;
	right: 10px;
	text-align: center;
    font-size: 100px;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
