body {
    background-color: black;
}

h1 {
    font-family: Sans-Serif;
    font-size: 200%;
    color: #a046fa;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-size: 300%;
    color: #ff9632;
}

div {
    width: 700px;
    height: 300px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;

    margin: auto;
}
